@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .smooth-transiton {
    transition-duration: 500ms;
      transition-timing-function: ease-out;

  /* A litttttle slower on the way in */
  transition: 0.25s;
  }
}